In [1]:
import pandas as pd
import os
os.chdir('C:\\')

In [2]:
df = pd.read_excel('Number_Date.xlsx')

In [3]:
df.head()

    Date
0  44006
1  44005
2  44004
3  43939
4  43907

In [6]:
df['Real_Date'] = pd.to_datetime((df['Date']-25569) * 86400.0, unit='s')

In [7]:
df.head()

    Date  Real_Date
0  44006 2020-06-24
1  44005 2020-06-23
2  44004 2020-06-22
3  43939 2020-04-18
4  43907 2020-03-17